*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow-x: hidden;
}

/* styling the header section */

header{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* logo */
.logo{
    color: white;
}


/* navigation links */
.nav-links{
    width: 40vw;
    display: flex;
    justify-content: space-around;
    
    /* border: 1px solid black; */
}

.nav-links li{
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: large;
}

/* styling the hr line below the header */

.line{
    width: 100%;
    display: flex;
    justify-content: center;
}

hr{
    width: 85%;
    text-align: center;
}


/* styling the main section */

/* home section */

.home-section{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hello-div{
    border: 1px solid grey;
    width: 24rem;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
    letter-spacing: 0.8px;
}

span{
    color: thistle;
}
.hello-div_title{
    font-size: 22px; 
    margin-bottom: 15px;   
}
.hello-div_name{
    margin-bottom: 15px;
    font-size:24px ;
}
.hello-div_text{
    font-size: 18px;
    margin-bottom: 19px;
}
.hello-div_links{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.btn{
    padding: 9px;
    border-radius: 7px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
}
.home-links{
    width: 50%;
    display: flex;
    justify-content: space-between;
}


/* about me section */

.about-section{
    width: 100vw;
    height: 100vh;
}