*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}


/* animation */
@keyframes bounce {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(40px);
    }
    75%{
        transform: translateY(-40px);
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}
@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg); /* Hand moves to the right */
    }
    50% {
      transform: rotate(0deg); /* Hand returns to the center */
    }
    75% {
      transform: rotate(-20deg); /* Hand moves to the left */
    }
    100% {
      transform: rotate(0deg); /* Hand returns to the center */
    }
  }
  

/* styling the header section */

header{
    width: 100vw;
    height: 70px;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: all 0.3s ease-in-out;
}
/* hamburger menu */
.ham-button{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* position: absolute; */
    cursor: pointer;
    display: none;
}
.ham-line{
    background-color: white;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.ham-button.active .ham-line:nth-child(1){
    transform: rotate(45deg) translateY(17px);
}
.ham-button.active .ham-line:nth-child(2){
    opacity: 0;
}
.ham-button.active .ham-line:nth-child(3){
    transform: rotate(-45deg) translateY(-20px);
}

.ham-links{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    right: 40px;
    top: 70px;
}
.ham-links li{
    padding-left: 10px;
    padding-top: 5px;
    height: 50px;
    width: 100%;
    list-style: none;
}
.ham-links li:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.ham-links li a{
    text-decoration: none;
    color: white;
    font-size: large;
}
.ham-nav{
    display: none;
}
.ham-nav.active{
    display: block;
}

/* scrollbar hidden feature */
header.hidden{
    transform: translateY(-100%);
}
/* logo */
.logo{
    color: white;
}


/* navigation links */
.nav-links{
    width: 40vw;
    display: flex;
    justify-content: space-around;
    
    /* border: 1px solid black; */
}

.nav-links li{
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: large;
}

/* styling the hr line below the header */

.line{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 70px;
}

header hr{
    width: 85%;
    text-align: center;
}


/* styling the main section */

/* home section */
.arrow{
    display: inline-block;
    position: absolute;
    right: 3%;
    /* transform: translateX(-50%) translateY(-100%); Start above the button */
    transition: opacity 0.3s ease, transform 0.4s ease-in-out;
    margin-left: 5px;
}

.btn:hover .arrow{
    /* transform: translateX(-50%) translateY(20px); Move downwards on hover */
    opacity: 1;
    animation: bounce 0.4s 1;
}

.home-section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.hello-div{
    border: 1px solid grey;
    width: 28rem;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    letter-spacing: 1px;
    margin-left: 20rem;
    
}

.green-span{
    color: lightgreen;
}
.blue-span{
    color: lightblue;
}

.hand{
    display: inline-block;
    animation: wave 0.5s ease-in-out infinite;
    /* transform-origin: bottom center; */
}

.hello-div_title{
    font-size: 24px; 
    margin-bottom: 20px; 
    font-family: 'Courier New', Courier, monospace;  
    white-space: nowrap;
    border-right: 2px solid #fff ;
    display: inline-block;
}
.hello-div_title{
    display: inline-block;
    animation: blink 0.7s step-end infinite;
}

.hello-div_name{
    margin-bottom: 20px;
    font-size:24px ;
}
.hello-div_text{
    font-size: 18px;
    margin-bottom: 24px;
}
.hello-div_links{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.btn{
    padding: 10px 20px 10px 10px;
    /* border-radius: 7px; */
    background-color: darkgreen;
    color: white;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
}
.home-links{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

/* home background image */
.background-image{
    position: absolute;
    top: 0;
    z-index: -2;
}
.background-image img{
    object-fit: fill;
    height: 101vh;
    width: 100vw;
}


/* about me section */

.my-image{
    width:200px;
    height: 350px;
    float: right;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black
}



.about-image{
    height: 350px;
    position: relative;
}

.about-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #171717;
    align-items: center;
    justify-content: space-around;
}
.about-text{
    margin-left: 10rem;
    /* border: 1px solid white; */
    width: 45%;
    height: auto;
    padding: 3px;
    
}
.about-title{
    width: 29%;
    margin-bottom: 20px;
}
.about-text h1{
    color: lightgreen;
    font-size: 32px;
    margin-top: 10px;
}
.about-text h2{
    color: #fff;
}

.about-text p{
    color: gray;
    font-size: 19px;
    letter-spacing: 0.8px;
    margin: 20px auto;
}

.about-image{
    width: 30%;
    height: auto;
}
.about-summary ul{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 15px auto;
    gap: 15px;
    
}
.about-summary ul li{
    list-style: none;
    color: white;
}
.collaborate-btn{
    padding: 10px;
    font-size: 17px;
    background-color: darkgreen;
    margin: 15px auto;
    border: none;
    outline: none;
    color: #fff;
}

/* skills section */

.skills{
    position: relative;
}

.skills-title{
     color: lightgreen;
     top: 80px;
     left: 40%;
     position: absolute;
     font-size: 26px;
}

.skills-section{
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
    /* column-gap: 45px; */
    align-items: center;
    color: white;
}

.frontend-skills, .backend-skills, .api-skills{
    margin-top: 120px;
    height: 250px;
}
.frontend-skills, .backend-skills, .api-skills, .personal-skills, .education{
    /* border: 1px solid white; */
    width: 400px;
}
.personal-skills ul{
    display: flex;
    justify-content: space-between;
}
h3{
    color: lightgreen;
    text-align: center;
    margin-bottom: 10px;
}
.skill {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 5px;
    /* border: 1px solid white; */
}
  
label {
    margin-right: 1rem;
    font-weight: bold;
    min-width: 6rem;
    /* border: 1px solid white; */
}
  
.progress-container {
    width: 200px;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 1rem;
    position: relative;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #6775eb, #221085);
    width: 0; /* Updated dynamically using the inline `style` attribute */
}

.percentage {
    font-size: 1rem;
    color: #fff;
}

/* Projects sections */

.projects-section{
    width: 100vw;
    height: 100vh;
    background-color: #171717;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
}
.projects-section a{
    text-decoration: none;
}
.project-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-intro{
    /* background-color: #242424; */
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    margin-top: 80px;
}
.projects-intro h1{
    color: lightgreen;
    margin-bottom: 10px;
    text-align: center;
}
.projects-intro p{
    color: white;
}

.filmsage-div, .pickify-div, .klin-div{
    width: 390px;
    height: 65vh;
    /* border: 1px solid white; */
    position: relative;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    background-color: #242424;
    transition: all 0.1s ease-in-out;
}
.filmsage-div h2{
    color: #ddd;
}
.filmsage-div img{
    width: 250px;
    height: 270px;
    position: absolute;
    transform: rotate(-15deg);
}
.project-about p{
    font-size: 24px;
    color: #fff;
    font-weight: 900;
}
.image-one{
    left: -25px;
    bottom: -40px;
    
}
.image-two{
    right: -95px;
    bottom: -30px;
}
.pickify-div h2{
    color: #ddd;
}

.pickify-div img{
    width: 250px;
    height: 350px;
    position: absolute;
    bottom: -100px;
    transform: rotate(-15deg);
}
.pickify-one{
    left: -35px;
}
.pickify-two{
    right: -95px;
}
.stack-span{
    padding: 7px;
    background-color: blueviolet;
    margin-left: 9px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}
.klin-div h2{
    color: #ddd;
}
.klin-div img{
    width: 250px;
    height: 350px;
    position: absolute;
    bottom: -120px;
    transform: rotate(-15deg);
}
.klin-one{
    left: -35px;
}
.klin-two{
    right: -90px;
}

/* Contact me section */
.contact-me{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.contact-div{
    margin-top: 70px;

}
.contact-div h1{
    color: lightgreen;
    text-align: center;
    margin-top: 10px;
}
.contact-div input{
    width: 350px;
    height: 40px;
    padding-left: 4px;
    margin-top: 10px;
    color: black;
}
.contact-div textarea{
    width: 350px;
    padding-left: 4px;
    height: 50px;
    margin-top: 10px;
}
.contact-div button{
    float: right;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: darkgreen;
    color: white;
    border: none;
    outline: none;
}

/* footer */

footer{
    width: 100vw;
    text-align: center;
    margin-bottom: 20px;
    padding: 4px auto;
    color: gray;
}
small{
    font-size: medium;
}

/* hover effects */
button:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.pickify-div:hover, .filmsage-div:hover, .klin-div:hover{
    transform: scale(1.05);

}

@media (max-width: 1024px) {
    nav{
        display: none;
    }  
    .git-link a {
        display: none;
    }  
    .ham-button{
        display: flex;
    }
    header{
        justify-content: space-between;
    }
    .line{
        display: none;
    }
    .ham-button{
        margin-right: 40px;
    }
    .logo{
        margin-left: 40px;
    }
    .home-section{
        justify-content: center;
    }
    .hello-div{
        margin-left: unset;
    }
    .background-image img{
        object-fit: cover;
        
    }
    .about-section{
        flex-direction: column-reverse;
        /* height: 150vh; */
    }
    .about-text{
        width: 100vw;
        margin: unset;
        padding: 20px;
    }
    .about-title{
        width: 100%;
        
    }
    .about-title h1{
        text-align: center;
    }
    .about-title hr{
        display: none;
    }
    .skills-section{
        flex-direction: column;
        /* height: 110vh; */
    }
    .frontend-skills, .backend-skills, .api-skills, .personal-skills, .education{
        width: 350px;   
    }
    .frontend-skills, .backend-skills, .api-skills{
        height: 200px;
    }
    .skills-title{
        left: 30%;
    }
    .projects-section{
        height: 170vh;
    }
    
}

@media  (max-width: 768px) {
    .about-section{
        height: 130vh;
    }
    .ham-button{
        margin-right: 10px;
    }
    .logo{
        margin-left: 10px;
    }
    .skills-section{
        flex-wrap: nowrap;
        align-items: center;
        height: 170vh;
    }
    .skills-title{
        left: 25%;
    }
    .projects-section{
        height: 200vh;
    }
    .filmsage-div, .pickify-div, .klin-div{
        width: 300px;
        height: 50vh;
    }
    .project-title{
        flex-direction: column;
    }
    .project-title div{
        margin-top: 10px;
    }
    .stack-span{
        padding: 5px;
    }
    .project-about p{
       font-size: 18px;
    }
    .hello-div{
        width: 24rem;
    }
    .hello-div_text{
        font-size: 16px;
    }
    .hello-div_title{
        font-size: 19px;
    }
    .about-summary ul{
        grid-template-columns: repeat(2, 30%);
    }
    .about-image{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .my-image{
        float: unset;
        margin-bottom: 20px;
    }
}
